footer(class="bg-light text-center" style="padding: 40px; width: 100%;" itemscope itemtype="https://schema.org/WPFooter")
    div(class="container")
        p(style="color:black; font-weight: bold") Follow me on
        //- Socials
        section(class="mb-4")
            //- Instragram
            a(title="Instagram" href="https://www.instagram.com/oscarurselli/" class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" role="button")
                i(class="bi bi-instagram")

            //- GitHub
            a(title="GitHub" href="https://github.com/oscar0urselli" class="btn btn-primary btn-floating m-1" style="background-color: #333333;" role="button")
                i(class="bi bi-github")
        br

    //- Copyright
    div(class="text-center text-light p-3" style="background-color: rgb(0, 0, 0);") © 2023 
        a(class="text-light" href="/" title="Oscar Urselli") Oscar Urselli