extends index.pug

block css
    style.
        p {
            color: white;
        }

block content
    div(class="position-absolute top-50 start-50 translate-middle")
        p(class="fs-1 text-center") 404!
        p(class="fs-4 text-center") The resource you are searching for is not here.