extends index.pug 

block content
    div(class="my-3 me-3 p-4 bg-body rounded shadow-lg")
        ul(class="nav nav-pills nav-fill")
            li(class="nav-item mx-3")
                button#projects-btn(class="nav-link active hstack" aria-current="page")
                    i(class="bi bi-boxes" style="pointer-events: none;")
                    p(class="mt-3 ms-2" style="pointer-events: none;") Projects
            li(class="nav-item mx-3")
                button#apis-btn(class="nav-link link-dark hstack" aria-current="page")
                    i(class="bi bi-hdd-stack-fill" style="pointer-events: none;")
                    p(class="mt-3 ms-2" style="pointer-events: none;") APIs

    div#projects(class="my-3 me-3 p-4 bg-body rounded shadow-lg")
        a(href="/admin/add-project" class="btn btn-outline-success btn-lg w-100") Add new project
        div#projects-list(class="row row-cols-1 mt-4")

    div#apis(class="my-3 me-3 p-4 bg-body rounded shadow-lg" style="height: 75vh" hidden)
        p WORK IN PROGRESS

block javascript
    script(src="/static/js/admin/admin.js")