extends index.pug

block css
    style.
        p {
            color: white;
        }

block content
    div(class="position-absolute top-50 start-50 translate-middle")
        p(class="fs-1 text-center") Welcome!
        p(class="fs-4 text-center") In this site you will find all my projects.
        br
        p(class="text-center") Do you want to see something cool?
        div(class="d-grid gap-2")
            a(type="button" class="btn btn-outline-primary btn-lg" href="/about") GO!