extends index.pug 

block content
    div(class="position-absolute top-50 start-50 translate-middle")
        div(class="p-5 bg-body rounded shadow-lg text-center")
            h3(class="mb-5") Login 
            div(class="for-outline mb-4")
                input#typeEmailX-2(type="email" name="email" class="form-control form-control-lg" placeholder="username")
            div(class="for-outline mb-4")
                input#typePasswordX-2(type="password" name="password" class="form-control form-control-lg" placeholder="password")
            div#login-res
            button#login-btn(class="btn btn-primary btn-lg btn-block" type="submit") Login

block javascript
    script(src="/static/js/login.js")