extends index.pug

block css
    style.
        .col-sm-6 {
            padding-top: 20px;
            padding-bottom: 30px;
        }

block content
    div#cards(class="row" itemscope itemtype="https://schema.org/ProductCollection")
        
block javascript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
    script(src="/static/js/cards.js")