{% extends "layout.html" %}
{% block css %}
<style>
    p {
        color: white;
    }
</style>
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <p class="fs-1 text-center">Welcome!</p>
    <p class="fs-4 text-center">In this site you will find all my projects.</p>
    <br>
    <p class="text-center">Do you want to see something cool?</p>
    <div class="d-grid gap-2">
        <a type="button" class="btn btn-outline-primary btn-lg" href="/about">GO!</a>
    </div>
</div>
{% endblock %}